* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.chat-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.chat-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chat-container .header h2 {
  font-size: 18px;
  font-weight: bold;
}

.chat-container .chat {
  height: 300px;
  overflow-y: scroll;
}

.chat-container .chat .message {
  display: flex;
  margin-bottom: 10px;
}

.chat-container .chat .message p {
  padding: 10px;
  border-radius: 10px;
}

.chat-container .chat .message.received p {
  background-color: #f2f2f2;
}

.chat-container .chat .message.sent p {
  background-color: #d6eaf8;
  margin-left: auto;
}

.chat-container .message-box {
  display: flex;
  margin-top: 20px;
}

.chat-container .message-box input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

.chat-container .message-box button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #2980b9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #2980b9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.back-link {
  margin-top: 20px;
  font-size: 14px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
